{% extends "../layouts/layout.html" %}
{% import "macros/forms.html" as forms %}

{% block main %}
  <a href="/locations">< Back to locations</a>
  {{ forms.errorList(errors, labels) }}

  <h1 class="display-4 heading">Location</h1>
  <p class="lead hidden-sm-down">
    Locations are a place that a speech or a training course takes place. If a conference
    is simply a speech then the location is where that happens. If a conference has
    multiple workshops or classes in different rooms then you should have a location for
    each one of the 'cases'</p>

  <form class="padded-form form-adaptive" method="post">
    {{ forms.textbox('title',
      label=labels['title'],
      hint="Give this location a name so it's easy to recognise when selecting it from a list",
      value=location.title,
      error=errors.title)
    }}
    {{ forms.textarea(
      name="description",
      label=labels['description'],
      value=location.description,
      error=errors.description)
    }}

    {{ forms.address(location, labels=labels, errors=errors) }}

    {{ forms.saveItemBar('location', location) }}

    <input type="hidden" name="id" value="{{ location.id }}"/>
  </form>
{% endblock %}
