{% extends "../layouts/layout.html" %}
{% import "macros/forms.html" as forms %}

{% block main %}
  <a href="/conferences">< Back to conferences</a>
  {% if errors %}
    <ul class="alert alert-danger" role="alert">
      {% for name, item in errors %}
      <li class="list-unstyled"><a href="#{{ name }}" class="alert-link">{{ labels[name] }}</a> - {{ item }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  <h1 class="display-4 heading">Conference</h1>
  <p class="lead hidden-sm-down">
    something about conferences</p>

  <form class="padded-form form-adaptive" method="post">

    {{ forms.textbox('title',
      label=labels['title'],
      value=conference.title,
      error=errors.title)
    }}
    {{ forms.textarea(
      name="description",
      label=labels['description'],
      value=conference.description,
      error=errors.description)
    }}

    {{ forms.textbox('organiser',
      label=labels['organiser'],
      value=conference.organiser,
      error=errors.organiser)
    }}

    {{ forms.saveItemBar('conference', conference) }}

    <input type="hidden" name="id" value="{{ conference.id }}"/>
  </form>

{% endblock %}
