{% extends "../layouts/layout.html" %}
{% import "macros/forms.html" as forms %}

{% block breadcrumb %}
  <div class="container">
    <a class="back-link" href="/conferences">< Back to conferences</a>
  </div>
{% endblock %}

{% block main %}
  {{ forms.errorList(errors, labels) }}

  <h1 class="display-2">
    {% if conference.id %}
      Edit conference
    {% else %}
      Add conference
    {% endif %}
  </h1>

  <p class="lead hidden-sm-down">something about conferences</p>

  <form class="row" method="post">
    <div class="col-md-8 col-xl-7">
      {{ forms.textbox('title',
        label=labels['title'],
        value=conference.title,
        error=errors.title)
      }}
      {{ forms.textarea(
        name="description",
        label=labels['description'],
        value=conference.description,
        error=errors.description)
      }}

      {{ forms.textbox('organiser',
        label=labels['organiser'],
        value=conference.organiser,
        error=errors.organiser)
      }}

      {{ forms.dropdown('location',
        label=labels['location'],
        emptyLabel='Select an option',
        value=conference.location,
        options=locations,
        error=errors.location)
      }}

      {{ forms.saveItemBar('conference', conference) }}

      <input type="hidden" name="id" value="{{ conference.id }}"/>
    </div>
  </form>

{% endblock %}
