{% extends "../layouts/layout.html" %}

{% block main %}

<div class="container">

  {% if messages.info %}
  <div class="row">
    <div class="alert alert-info col-sm-12" role="alert">
      {{ messages.info }}
    </div>
  </div>
  {% endif %}

  <div class="row">
    <h1 class="display-4 heading">
      Conferences
      <a href="/conferences/add" class="btn btn-primary btn-sm">Add conference</a>
    </h1>
    <p class="lead hidden-sm-down">
      Conferences are a place that a speech or a training course takes place. Bigger conferences will need to have
      speeches and/or classes adding.
    </p>
  </div>

  <div class="row">
    <table class="table record-list">
      <thead class="thead-default">
      <tr>
        <th>Name</th>
        <th class="hidden-sm-down">Location</th>
        <th class="hidden-md-down">Organiser</th>
        <th>Start date</th>
        <th class="hidden-lg-down">Action</th>
      </tr>
      </thead>
      <tbody>
      {% for conference in conferences %}
        <tr>
          <td>
            <a class="record-list__data-link" href="/conferences/{{ conference.id }}">{{ conference.title }}</a>
          </td>
          <td class="hidden-sm-down">
            <a class="record-list__data-link" href="/conferences/{{ conference.id }}">{{ conference.location.title }}</a>
          </td>
          <td class="hidden-md-down">
            <a class="record-list__data-link" href="/conferences/{{ conference.id }}">{{ conference.organiser }}</a>
          </td>
          <td>
            <a class="record-list__data-link" href="/conferences/{{ conference.id }}">{{ conference.start_datetime | formatDate('DD MMM YYYY') }}</a>
          </td>
          <td class="hidden-lg-down">
            <a class="btn btn-sm btn-secondary" href="/conferences/{{ conference.id }}">Edit</a>
            <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-{{ conference.id }}-modal">Delete</button>

            <div id="delete-{{ conference.id }}-modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Delete conference</h4>
                  </div>
                  <div class="modal-body">
                    <p>Are you really really really sure you want to delete {{ conference.title }}?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="/conferences/{{ conference.id }}/remove" class="btn btn-danger">Delete</a>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
