{% extends "../layouts/layout.html" %}

{% block main %}

  <a href="/conferences">< Back to conferences</a>
  {% if errors %}
    <ul class="alert alert-danger" role="alert">
      {% for name, item in errors %}
      <li class="list-unstyled"><a href="#{{ name }}" class="alert-link">{{ labels[name] }}</a> - {{ item }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  <h1 class="display-4 heading">Conference</h1>
  <p class="lead hidden-sm-down">
    something about conferences</p>

  <form class="padded-form form-adaptive" method="post">

    <div class="form-group{% if errors.title %} has-danger{% endif %}">
      <label for="title">{{ labels['title'] }}</label>
      <input name="title" class="form-control" type="text" value="{{ conference.title }}" id="title">
      {% if errors.title %}
        <div class="form-control-feedback">{{ errors.title }}</div>
      {% endif %}
    </div>

    <div class="form-group{% if errors.description %} has-danger{% endif %}">
      <label for="description">{{ labels['description'] }}</label>
      <textarea name="description" class="form-control" id="description" rows="3">{{ conference.description }}</textarea>
      {% if errors.description %}
        <div class="form-control-feedback">{{ errors.description }}</div>
      {% endif %}
    </div>

    <div class="form-group{% if errors.organiser %} has-danger{% endif %}">
      <label for="organiser">{{ labels['organiser'] }}</label>
      <input name="organiser" class="form-control" type="text" value="{{ conference.organiser }}" id="organiser">
      {% if errors.organiser %}
        <div class="form-control-feedback">{{ errors.organiser }}</div>
      {% endif %}
    </div>

    <div class="button-bar">
      <button type="submit" class="btn btn-primary">Save</button>
      <a class="btn btn-link" href="/conferences">Cancel</a>
      {% if location.id %}
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bd-example-modal-sm">Delete</button>
        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete location</h4>
              </div>
              <div class="modal-body">
                <p>Are you really really really sure you want to delete this location?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a href="/locations/{{ location.id }}/remove" class="btn btn-danger">Delete</a>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      {% endif %}
    </div>

    <input type="hidden" name="id" value="{{ conference.id }}"/>
  </form>

{% endblock %}
