@import 'colours';
@import 'conditionals';

.side-nav {

  li.active a {
    border-top: 2px solid $burnedOrange;
    border-bottom: 2px solid $burnedOrange;
  }

  @include media(tablet) {

    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: $dark;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;

    li {
      a {
        width: 225px;

        &:hover,
        &:focus {
          outline: none;
          background-color: #000 !important;
        }

      }
    }
  }
}
