@import 'colours';
@import 'conditionals';

.side-nav {

  margin: 0;
  border: none;
  background-color: $dark;
  padding: 0;
  width: 100%;

  li.active a {
    border-top: 2px solid $burnedOrange;
    border-bottom: 2px solid $burnedOrange;
  }

  a {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    color: $lightGrey;
  }

  @include media(tablet) {


    li {
      display: block;
      a {
        &:hover,
        &:focus {
          outline: none;
          background-color: #000 !important;
        }

      }
    }
  }
}
