@import "vars";

.padded-form {
  margin: $big-margin 0;
}

.button-bar {
  margin: $big-margin 0;
}

.form-group.form-group--compact {
  margin-bottom: $form-group-compact-margin-bottom;
}


.form-adaptive {
  @include make-row();

  .form-group {

    @include make-col-ready();

    @include media-breakpoint-up(sm) {
      @include make-col(12);
    }

    @include media-breakpoint-up(lg) {
      @include make-col(10);
    }

    @include media-breakpoint-up(xl) {
      @include make-col(8);
    }

    &.short input {
      clear:both;
      @include media-breakpoint-up(md) {
        @include make-col(5);
      }

      @include media-breakpoint-up(lg) {
        @include make-col(4);
      }

      @include media-breakpoint-up(xl) {
        @include make-col(3);
      }
    }
  }

  .button-bar {
    @include make-col-ready();
  }

}
