@import 'colours';

.navbar-inverse {
  background: #222;
  color: $burnedOrange;

  .navbar-brand,
  .navbar-toggler {
    color: $burnedOrange;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

.navbar--header {
  margin-bottom: 1rem;
}
