$burnedOrange: #F5A623;
$dark: #222;
$lightGrey: #9B9B9B;

$images-dir: '/images/';
$form-group-margin-bottom: 1.5rem;
$form-group-compact-margin-bottom: 1rem;
$big-margin: 2rem;
$input-btn-border-width: 2px;
$btn-primary-bg: #00823B
