@import "vars";

@import "bootstrap";
@import "font-awesome";

@import "address";
@import "header";
@import "login";

footer {
  min-height: 3rem;
  margin: 2rem 0;
}

.back-link {
  display: inline-block;
  margin: 1rem 0;
}

.form-group label {
  @extend .font-weight-bold
}

.button-bar {
  margin-top: 3rem;
}

.lead {
  margin-bottom: 2rem;
}
