{% extends "layouts/layout.html" %}

{% block main %}
  <h1>Hello World</h1>
  <h3>test</h3>
  <form>
    <div class="form-group row">
      <label for="example-text-input" class="col-xs-2 col-form-label">Text</label>
      <div class="col-xs-10">
        <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
      </div>
    </div>
  </form>
  <p>ald;ka;dla;sld lad lasd ;alkda;ldk a;dlka s;dlk a;dlka dla d;lakd las;dlaskd as;dkasld;askd as;dkals;dlasdlaskd as;dlkas;dlka da;sdl a</p>

{% endblock %}
