{% extends "layouts/bare.html" %}

{% block main %}
  <header>
    <h2 class="navbar-brand">Conference Digital</h2>
  </header>
  <div class="container">
    <form class="form-signin" method="post">
      <h1 class="form-signin-heading">Please sign in</h1>
      {% if messages.error %}
        <div class="alert alert-error" role="alert">
          {{ messages.error }}
        </div>
      {% endif %}
      <label for="input-user" class="sr-only">User ID</label>
      <input type="text" name="username" id="input-user" class="form-control" placeholder="User ID" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
{% endblock %}
