<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Conference Digital</title>

    <link href="{{asset_path}}stylesheets/application.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="flex-layout">
      <header>
        <button class="navbar-toggler pull-xs-right hidden-sm-up collapsed" type="button"
                data-toggle="collapse"
                data-target="#side-nav"
                aria-controls="bd-main-nav"
                aria-expanded="false"
                aria-label="Toggle navigation">
          ☰
        </button>
        <a href="/" class="navbar-brand">Conference Digital</a>
        <ul class="nav navbar-nav nav-dark pull-xs-right hidden-sm-down">
          <li class="nav-item">
            <a class="nav-link" href="#">Zac Tolley</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </header>
      <div class="flex-body">
        <main id="content" class="flex-body__content">
          {% block main %}{% endblock %}
        </main>
        <nav id="side-nav" class="flex-body__nav collapse" >
          <ul class="nav side-nav nav-dark">
            <li class="active">
              <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Overview</a>
            </li>
            <li>
              <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Conferences</a>
            </li>
            <li>
              <a href="tables.html"><i class="fa fa-fw fa-table"></i> Locations</a>
            </li>
            <li>
              <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Speakers</a>
            </li>
          </ul>
        </nav>
      </div>
      <footer>
        {% block footer %}{% endblock %}
      </footer>

      <!-- jQuery first, then Tether, then Bootstrap JS. -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>

  </body>
</html>
